<div class="repo-container">
  <h4 class="repo-name">
    {{repositoryDetails?.name}}
  </h4>
  <div class="inner-container">
    <div class="issues-text">Issues</div>
  </div>
</div>
<div *ngIf="!navigatedId">
  <input type="text" class="search" placeholder="Search Open Issues" [(ngModel)]="searchedText" (ngModelChange)="searchResult()" /> 
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>{{repositoryDetails?.open_issues_count}} Open</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody *ngIf="listOfOpenIssues.length">
      <tr *ngFor="let issue of listOfOpenIssues | paginate : {
                itemsPerPage: pageCount,
                currentPage: currentPage,
                totalItems: 100
              }
        let i = index" (click)="navigateToDetails(issue)">
        <td></td>
        <td>{{issue.title}}</td>
        <!-- <td>
          <div *ngFor="let label of issue.labels; let i = index;">Label {{i+1}}: {{label.name}}</div>
        </td> -->
      </tr>
    </tbody>
    <tbody *ngIf="!listOfOpenIssues.length">
      <h4 class="no-results">No Results Found</h4>
    </tbody>
  </table>
  
  <div class="d-flex justify-content-center">
    <pagination-controls 
      previousLabel="Prev" 
      nextLabel="Next" 
      (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>
</div>

<div *ngIf="navigatedId">
 <app-issue-details [id]="navigatedId"></app-issue-details>
</div>

<!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
  <p style="color: white">Please Wait. </p>  
  </ngx-spinner> -->
